body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

.heading {
  text-align: center;
  padding: 20px;
  font-size: 34px;
  color: #0f172a;
}

.note-form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#noteTitle,
#noteContent {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #4b5563;
  font-size: 15px;
}

#noteContent {
  min-height: 90px;
  resize: vertical;
}

#addNoteBtn {
  width: 140px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #0ea5e9;
  color: white;
  font-weight: bold;
  align-self: flex-end;
  cursor: pointer;
}

.sub-heading {
  padding: 10px 90px;
  color: #0f172a;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 0 90px 40px;
}

.note-card {
  padding: 15px;
  min-height: 130px;
  border-radius: 14px;
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 3px 12px rgba(0,0,0,0.12);
}

.note-title {
  font-weight: bold;
  font-size: 17px;
}

.note-content {
  font-size: 14px;
}

.delete-btn {
  width: 60px;
  border: none;
  padding: 6px;
  align-self: flex-end;
  border-radius: 8px;
  background: #ef4444;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

